<?xml version="1.0" encoding="UTF-8" ?>

<config>

    <host>

        <host_name>cert.api.firstdata.com</host_name>

        <!-- Customer sandbox -->
        <service_url>https://cert.api.firstdata.com/paymentjs/v2/merchant/authorize-session</service_url>

        <!--Production aka live
        <service_url>https://prod.api.firstdata.com/paymentjs/v2/merchant/authorize-session</service_url>
        -->

        <credentials>
            <api_key>{PAYMENTJS_V2 API_KEY}</api_key>
            <api_secret>{PAYMENTJS_V2 API_SECRET}</api_secret>
        </credentials>

    </host>

    <gateway>

        <current_gateway>{CHOOSE ONE: payeezy || bluepay || card_connect || ipg}</current_gateway>
        <!-- <current_gateway>payeezy</current_gateway> -->
        <payeezy>
            <gateway>PAYEEZY</gateway>
            <apiKey>{API_KEY}</apiKey>
            <apiSecret>{API_SECRET}</apiSecret>
            <authToken>{AUTH_TOKEN}</authToken>
            <transarmorToken>{TA_TOKEN}</transarmorToken>
            <zeroDollarAuth>FALSE</zeroDollarAuth>
        </payeezy>

        <bluepay>
            <gateway>BLUEPAY</gateway>
            <accountId>{ACCOUNT_ID}</accountId>
            <secretKey>{SECRET_KEY}</secretKey>
            <zeroDollarAuth>FALSE</zeroDollarAuth>
        </bluepay>

        <card_connect>
            <gateway>CARD_CONNECT</gateway>
            <apiUseRAndPass>{API_USER_AND_PASS}</apiUseRAndPass>
            <merchantId>{MERCHANT_ID}</merchantId>
            <zeroDollarAuth>FALSE</zeroDollarAuth>
        </card_connect>

        <ipg>
            <gateway>IPG</gateway>
            <apiKey>{API_KEY}</apiKey>
            <apiSecret>{API_SECRET}</apiSecret>
            <zeroDollarAuth>FALSE</zeroDollarAuth>
        </ipg>

    </gateway>

</config>